  
  
  @import 
  url("https://fonts.googleapis.com/css?family=Raleway");
  @import 
  url("https://fonts.googleapis.com/css?family=Montserrat");
  @import 
  url("https://fonts.googleapis.com/css?family=Sofia");

  body{
    margin:0px;
    padding:0px;
    background-image: url(NetbizPhoto/quicicon4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
       }

  
  .container{
    width: 100%;
    height:100%;
    position:relative;
    margin: 0%;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    
    background-size: cover;
    box-sizing: border-box;
 } 

 .menu-bar{
    
    margin: auto;
    position:;
    display:grid;
    grid-template-columns: auto auto auto ;
    grid-gap:0px;
    justify-content: space-evenly;
    padding:;
    
    
    
   }
               
   .menu-bar>div{
    align-items:justify; 
    text-align: center;
    padding:0px;
    border-radius: 4px;
    font-size:12px;
    font-weight:bold;
    color:white;
    background-color: black;
    color:green;
             }
       
.menu-bar>div,button:hover{
         opacity:0.6;
                 }

.menu-bar >div, button>a.fpagemenu-anchor{
         text-decoration: none;
         color:white;            
           }

          
.footer{
            display:grid;
            grid-template-columns: auto auto auto;
            grid-gap:3px;
            justify-content:space-evenly;
            padding:1px 1px;
            color:white;
            font-size:12px;
            font-weight: lighter;
            text-align: center;
            margin-bottom: 0%;
            position:relative;
            
            }
              
.footer>div{
            align-items:justify;
            padding:1px;
            
            }

.footer>div>a.footanchor{
               text-decoration: none;
               color:white;
               font-weight: lighter;
                
            }
            
.footer>div>a.footanchor:hover{
               cursor: pointer;
               border-radius:3px;
               font-weight: bold;

             }
a{color:white;

      }

     
            @media only screen and (min-width :768px){  /* LANDSCAPE TABLETS, LAPTOPS, DESKTOPS*/
                body{padding:0px 120px;}
                #quizBox{ border:1px solid grey; }
                #questionContainer{padding:2px 10px 5px; font-size:18px;}
                footer{padding:2px 20px 2px; }
                .advert-container{ width : 500px; height: 500px;}
               .affiliateProductImage{ width : 498px; height: 498px;}
                #animals-container{ width : 400px; height: 350px;}
                #animals-images{width : 390px; height: 340px; }
                #affiliate-imageDiv{ width : 498px; height: 498px;}
                #lectureVideo{width : 500px; height: 500px;}
                iframe{ width : 500px; height: 500px;}
                .footerinfo{
                   grid-template-columns: auto auto auto auto auto;
                  
                    }
                                 }  
                                 @media only screen and (min-width :600px){  /* FOR LARGE PHONES AND TABLETS */

                                    body{padding:0px 120px;}
                                    #fpage-container{padding:2px 10px 5px; font-size:18px;}
                                    #fpagemenu-bar{
                                        grid-template-columns: auto auto auto auto auto;
                                         }
                                    #fpage-footerinfo{
                                         grid-template-columns: auto auto auto auto auto;
                                                    }
                                   .advert-container{ width : 500px; height: 500px;}
                                   .affiliateProductImage{ width : 498px; height: 498px;}
                                    #affiliate-imageDiv{ width : 498px; height: 498px;}
                                                     }
                                 
                                    @media only screen and (max-width :600px){  /*FOR SMALL SCREEN PHONES */
                                    
                                                      
                                          }                       
                                                 
                                    
     
   
   
   
    
        